/*-------------------------------------
        Welcome Banner
--------------------------------------*/
.welcome-banner-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.5) */
}

.welcome-banner-heading {
    /* color: white; */
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Love Ya Like A Sister", cursive;
    letter-spacing: 0.3rem;
}

.welcome-page-img {
    height: auto;
    width: 100%;
    position: relative;
}

.welcome-page-img:before {
    background: rgba(37, 35, 35, 0.07);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    content: ' ';
    display: block;
}

.welcome-hero-txt {
    padding-top: 155px;
}

.welcome-hero-txt h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
}

.welcome-hero-txt p {
    font-size: 18px;
    color: #fcfcfc;
    margin-top: 25px;
}

.welcome-hero-serch-box {
    margin-top: 78px;
    display: flex;
}

.welcome-hero-form {
    display: flex;
    background: #fff;
    height: 70px;
    border-radius: 3px;
    width: 85%;
}

.single-welcome-hero-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 30px;
}

.single-welcome-hero-form:first-child {
    border-right: 1px solid #edeff1;
}

.single-welcome-hero-form input {
    margin-left: 10px;
    height: 70px;
    width: 300px;
    border: 0;
    background: transparent;
}

.single-welcome-hero-form input[type="text"] {
    font-size: 14px;
    color: #859098;
    text-transform: capitalize;
    font-weight: 500;
}

.welcome-hero-form-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #252d32;
}

.welcome-hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    width: 170px;
    height: 70px;
    background: #ff545a;
    text-transform: capitalize;
    margin-left: 30px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.welcome-hero-btn:hover {
    /*background: #fd4043;*/
    background: #f43032;
}

.welcome-hero-btn svg {
    width: 14px;
    height: auto;
    margin-left: 12px;
}